<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping resource="CallEntity.hbm.xml"/>
        <mapping class="com.example.mycompany.CallVisor.persistence.entities.CallEntity"/>
        <mapping class="com.example.mycompany.CallVisor.persistence.entities.TelephonNumberEntity"/>
        <mapping resource="TelephonNumberEntity.hbm.xml"/>
        <mapping resource="KlientinfoEntity.hbm.xml"/>
        <mapping class="com.example.mycompany.CallVisor.persistence.entities.KlientinfoEntity"/>
        <mapping resource="KlienthistoryEntity.hbm.xml"/>
        <mapping class="com.example.mycompany.CallVisor.persistence.entities.KlienthistoryEntity"/>
        <mapping resource="ManagerEntity.hbm.xml"/>
        <mapping class="com.example.mycompany.CallVisor.persistence.entities.ManagerEntity"/>
    </session-factory>
</hibernate-configuration>