<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CallVisor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        .container {
            position: relative;
            margin-top: 10%;
            text-align: center;
            width: 250px;
        }

        div.ex1 {
            margin-bottom: 20px;
        }

        ​
    </style>
</head>
<body>
<div class="container">
    <div class="ex1">
        <h2>Authorization</h2>
    </div>

    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control" placeholder="Enter your login" id="login" name="username"></br>
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Enter your password" id="password" name="password"><br>
        </div>
        <button type="submit" class="btn btn-primary" onclick="return validate()">Submit</button>
    </form>
</div>
</body>
</html>